body {
    font-family: Arial;
    background: #f4f4f4;
}

.container {
    width: 350px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    text-align: center;
}

li {
    list-style: none;
    margin: 10px 0;
    padding: 10px;
    background: #eee;
    cursor: pointer;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

button {
    margin-left: 5px;
}
